<template>
  <div class="button-container">
    <div class="logo">
      Linkr
    </div>

    <Button
      v-for="{ name, link } in playlists"
      :key="name"
      :name="name"
      :link="link"
    />
    <SocialButtonsContainer />
  </div>
</template>

<script>
import Button from "./Button.vue";
import SocialButtonsContainer from "./SocialButtonsContainer.vue";

export default {
  name: "ButtonsContainer",
  components: {
    Button,
    SocialButtonsContainer,
  },
  props: {
    playlists: {
      type: Array,
      validator: (prop) =>
        prop.every((item) => {
          return typeof item.name === "string" && typeof item.link === "string";
        }),
    },
  },
};
</script>

<style>
.logo {
  font-family: "Krona One", sans-serif;
  font-size: 40px;
  margin: 1rem;
  color: black;
}

.button-container {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 70%;
  max-width: 500px;

  height: 100%;
  background: white;
  padding: 1rem;
}
</style>
