<template>
  <div class="button" @click="redirect(link)">
    {{ name }}
  </div>
</template>

<script>
export default {
  methods: {
    redirect: function(link) {
      window.location.replace(link);
    },
  },
  props: { name: String, link: String },
};
</script>

<style scoped>
.button {
  background-color: rgb(100, 182, 135);
  margin: 0.5rem;
  min-width: 70%;
  padding: 0.5rem;
}

.button:hover {
  cursor: pointer;
}
</style>
