<template>
  <div class="social-button-container">
    <div class="user-name">
      vadim tor
    </div>

    <SocialMediaButton
      v-for="{ socialMedia, link } in socialmedias"
      :key="socialMedia"
      :socialMedia="socialMedia"
      :link="link"
    />
  </div>
</template>

<script>
import SocialMediaButton from "./SocialMediaButton.vue";
import socialmedias from "../assets/socialmedias.json";

export default {
  name: "SocialButtonsContainer",
  components: {
    SocialMediaButton,
  },
  data() {
    return {
      socialmedias,
    };
  },
  props: {
    name: String,
    socialMedias: {
      type: Array,
      validator: (prop) =>
        prop.every((item) => {
          return (
            typeof item.socialMedia === "string" &&
            typeof item.link === "string"
          );
        }),
    },
  },
};
</script>

<style scoped>
.user-name {
  margin-right: 1rem;
}

.social-button-container {
  display: flex;
  flex-direction: row;

  align-items: center;

  padding: 1rem;
}
</style>
