<template>
  <img
    class="social-media-button"
    :src="getImagePath(socialMedia)"
    @click="redirect(link)"
  />
</template>

<script>
import { SOCIAL_MEDIAS } from "../constants";

export default {
  methods: {
    redirect: function(link) {
      window.location.replace(link);
    },
    getImagePath: function(socialMedia) {
      switch (socialMedia) {
        case SOCIAL_MEDIAS.FACEBOOK:
          return require("../assets/facebook.png");
        case SOCIAL_MEDIAS.TWITTER:
          return require("../assets/twitter.png");
        case SOCIAL_MEDIAS.INSTAGRAM:
          return require("../assets/instagram.png");
        default:
          return require("../assets/instagram.png");
      }
    },
  },
  props: { socialMedia: String, link: String },
};
</script>

<style scoped>
.social-media-button {
  height: 25px;
  width: 25px;
  margin: 0.25rem;
}

.social-media-button:hover {
  cursor: pointer;
}
</style>
