<template>
  <ButtonsContainer :playlists="playlists" />
</template>

<script>
import ButtonsContainer from "./components/ButtonsContainer.vue";

import playlists from "./assets/playlists.json";

export default {
  name: "App",
  data() {
    return {
      playlists,
    };
  },

  computed: {
    getStyle: function() {
      const number = Math.floor(Math.random() * 6);

      return {
        "--bc-img": `url(~@/assets/back${number}.png)`,
      };
    },
  },
  components: {
    ButtonsContainer,
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;

  background-image: url("~@/assets/back2.png");

  /* background-size: cover; */
  height: 100vh;

  display: flex;
  justify-content: center;

  align-content: center;
  align-items: center;
}

#app {
  font-family: "Poppins", sans-serif;
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  display: flex;
  justify-content: center;

  align-content: center;
  align-items: center;
  width: 100%;
}
</style>
